node_modules
.env
public/lib
public/dist
public/src/css
*.min.js
*.min.js.map
*.min.css
*.TMP
_certs
.git
logs/*
.nodemonignore
npm-debug*
.cache-require-paths.json
.json-db
/logs
tmp
temp
yarn-error.log
.bin
.idea
.nodemonignore
.tgitconfig
package-lock.json
